#levelSelector {
    max-width: 21em;
    margin-left:auto;
    margin-right:auto;
}

.levelItem {
    border-radius: 0.3em;
    width: 3em;
    height: 2em;
    border: 1px solid gray;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-left: 0.5em;
    margin-bottom: 0.4em;
    float: left;
    padding-top: 1em;
    cursor: pointer;
    background:rgba(0,0,0,0.5);
}

@media (max-width: 240px) {
	.levelSelectorTitle {
	    display: none;
	}
	#infoGraphics {
	    display: none;
	}
	.info {
	    font-size: 0.7em;
	}
	.infoContent {
	    font-size: 1em;
	    padding-left: 0;
	}
	.levelItem {
        width: 1.4em;
        height: 1em;
    }
    .startLevel {
        font-size: 1em;
    }
    .startLevelInstructions {
        font-size: 1em;
    }
    .navigationBar {
        font-size: 1em;
    }
    #congratulation {
         font-size: 1em;   
    }
    .levelComplete {
        height: 13em;
    }
    .levelButton {
        font-size: 1em;
        display: block;
    }
    .levelCompleteButtonsFinal {
        margin-top: 3em;
    }
    .signature {
        padding-bottom: 0;
    }
}

@media (min-width: 240px) and (max-width: 340px) {
    .levelItem {
        width: 2em;
        height: 1.4em;
    }
}

.locked {
    padding-top: 0.3em;
    padding-bottom: 0.8em;
    color: yellow;
}

.clearfix{zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}

#infoGraphics {
    width: 100%;
    text-align: center;
    font-size: xx-large;
}


#badges {
    text-align: center;
    vertical-align: middle;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 3em;
}

.badge {
    vertical-align: middle;
}

.ylogo {
    width: 1em;
}

.instructionGreen {
    color: darkgreen;
}