BODY, HTML {
	margin: 0;
	background: lightyellow;
	font-family: Arial, Verdana, sans-serif;
	height: 100%;
	width: 100%;
    overflow: hidden;
}

#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 4px;
	
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}

.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

.card {
	width: 5em;
	height: 5em;
	margin: 0.2em;
	cursor: pointer;
}

.navigationButton {
	cursor: pointer;
	text-align:left;
}

#navigationBar {
	background: #75755f;
	font-size: xx-large;
	padding: 2px 10px 2px 10px;
	color: white;
}

#levelTitle {
	float:right;
}

.textCard {
	height: 100%;
}

.textCardLabel {
	margin-top: 15%;
}

#levelComplete {
    position: relative;
    z-index: 200;
    background:rgba(0,0,0,0.7);
    text-align: center;
    color: white;
    height: 10em;
}

#congratulation {
	top: 1em;
    font-size: 2em;
 	width: 100%;
 	text-align: center;
    position: absolute;
}

.levelCompleteButtons {
	position: absolute;
	top: 6em;
	width: 100%;
	text-align: center;
}

.levelButton {
    font-size: 1.2em;
    background: #111;
    border: 1px solid lightgray;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
}

.levelButton:hover {
	border: 1px solid yellow;
	color: yellow;
}
