body {
	margin: 0;
	background: lightyellow;
	font-family: 		Arial, Verdana, sans-serif;
}

#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 4px;
	
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}

.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

.card {
	width: 5em;
	height: 5em;
	margin: 0.2em;
	cursor: pointer;
}

.navigationButton {
	cursor: pointer;
	text-align:left;
}

#navigationBar {
	background: #75755f;
	font-size: xx-large;
	padding: 2px 10px 2px 10px;
	color: white;
}

#levelTitle {
	float:right;
}

.textCard {
	height: 100%;
}

.textCardLabel {
	margin-top: 15%;
}
