<!DOCTYPE html>
<html lang="en-us" ng-app="app">

<head>
<meta charset="utf-8">
<title>PF2015</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.min.js"></script>

<script type="text/javascript" src="js/pexeso-controller.js"></script>
<link rel="stylesheet" href="css/pexeso.css" type="text/css" />

<link rel="stylesheet" href="css/flippy.css" />
<script type="text/javascript" src="js/flippy.js"></script>
</head>

<body ng-controller="PexesoController" data-ng-init="init()">
<div id="mainContent">


    <flippy ng-repeat="card in board" 
    class="fancy"
    ng-class="card.flipState"
    ng-click="selectCard(card)"
    
    flip-duration="800"
    timing-function="ease-in-out">

        <flippy-front>
            ?
        </flippy-front>

        <flippy-back>
            {{card.cardId}}
        </flippy-back>

    </flippy>


</body>
</html>
